
.main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.row{
    display: flex;

}

.row > *{
    width: calc(100%/14)
}

.block{
    border: 1px grey solid;
    outline:none;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    height: 3rem;
    
}

.duty-block{
    color: white;
   
    font-size: 1rem;
}

.name{
    min-width: 50px;
    height: 3rem;
}

.xm{
    background-color: #f72584a0;
}

.xg{
    background-color: #7109b7b0;
}


.vc{
    background-color: #4ccaf0a4;
}

.vcg{
    background-color: #4362eec4;
}

.p{
    background-color: #22938fc4;
}
.timetable{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    border: none;
}

#selector{
    width: 20%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-inline: auto;
    border: 1px solid black;
}



.cq{
    margin-inline: auto;
    display: flex;
    flex-direction: column;


    h3{
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        
    }

    input{
        font-size: 1.5rem;
        font-weight: 600;
        border: 1px solid black;
        padding: 0.5rem;
    }
}